nav.menu {
    background-color: aquamarine;
}

nav.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav.menu li {
    display: inline-block;

    background-color: rgb(69, 155, 127);
}

nav.menu a {
    text-decoration: none;
    color: blueviolet;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: inline-block;
}

.menu ul a:hover {
    color: yellow;
    background-color: blueviolet;
}